/*---------------------------------
Padrões do navegador
---------------------------------*/
@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*---------------------------------
CSS Grid layout
---------------------------------*/
.container-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
}

.container-interno {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

/*---------------------------------
Topo - cabeçalho
---------------------------------*/
.cabecalho {
    display: flex;
    align-items: center;
    background-color: rgb(151, 184, 212);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.cabecalho ul li a {
    color: #000000;
}

.cabecalho ul li a:hover {
    color: #ffffff;
}

/*---------------------------------
Feed de noticias
---------------------------------*/
.busca {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.busca > input {
    border-radius: 2rem;
    border: none;
    outline: none;
}

.busca .caixa-pesquisa {
    margin-right: 1rem;
    background-color: rgb(192, 181, 202);
    padding: 0 2rem;
    color: #ffffff;
}

.busca .caixa-pesquisa::placeholder {
    color: aliceblue;
}

.botao-pesquisa {
    background-color: rgb(160, 141, 177);
    color: #ffffff;
    width: 10%;
    height: 3rem;
    cursor: pointer;
}

.container-principal {
    background: #f3f3f3;
}

/*---------------------------------
Post
---------------------------------*/
.imagem-post {
    display: flex;
    justify-content: center;
}

.imagem-post > img {
    border-radius: 20px;
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 40rem;
}

.texto-post {
    text-align: left;
    max-width: 59rem;
    margin: 0 auto;
}

.titulo-post {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.descricao-post {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

/*---------------------------------
Painel da esquerda
---------------------------------*/
.imagem-perfil img{
    border-radius: 100%;
    object-fit: cover;
    margin-top: 2rem;
}

.nome-usuario {
    margin-top: 2rem;
}

.id-usuario {
    color: rgb(124, 124, 124);
    font-size: 1.1rem;
}

.quantidade-amigos {
    margin-top: 1rem;
}

/*---------------------------------
Painel da direita
---------------------------------*/
.cards-hq {
    max-height: 30rem;
    width: 15rem;
}

.card-img-top {
    border-radius: 2rem;
    max-height: 20rem;
    width: 100%;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

.card-text {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.estrelas {
    text-align: center;
    font-size: 2rem;
    color: rgb(41, 128, 15);
    margin-bottom: 2rem;
}

/*---------------------------------
Responsivo
---------------------------------*/
@media screen and (min-width: 0px) {
    .cabecalho {
        height: 5rem;
        justify-content: center;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .menu-principal {
        display: flex;
    }

    .cabecalho ul li{
        margin-left: 5rem;
        font-size: 2rem;
        display: inline-block;
    }

    #ativo {
        background: #ffffff;
        height: 100%;
        width: 90%;
        max-width: 25rem;
        position: fixed;
        z-index: 1;
        top: -3rem;
        left: -100%;
        margin: 5rem 0;
        transition: left 0.3s ease-out;
    }
    
    #check:checked ~ #ativo {
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botaocheck {
        cursor: pointer;
        font-size: 2rem;
        transition: all 0.3s;
        display: block;
    }

    #check {
        display: none;
    }

    .busca .caixa-pesquisa {
        max-width: 80%;
        width: 100%;
    }

    .busca > input {
        min-width: 20%;
        height: 5rem;
    }

    .logo {
        margin-top: 6rem;
    }

    .imagem-perfil img {
        height: 10rem;
        width: 10rem;
    }

    .painel-direita {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .container-principal {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        padding: 8rem 0;
    }

}

@media screen and (min-width: 700px) {
    .cabecalho {
        height: 3rem;
    }

    .menu-principal {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 10rem;
    }

    .botaocheck {
        display: none;
    }

    #ativo {
        max-width: 20%;
        left: 0;
        margin-top: 6rem;
        background: #ffffff;
    }

    .painel-esquerda {
        min-width: 20%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        margin-top: 3rem;
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .container-principal {
        grid-column: 2 / 4;
        grid-row: auto;
    }

    .busca > input {
        min-width: 7%;
        height: 3rem;
    }

    .busca .caixa-pesquisa {
        max-width: 70%;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .cabecalho ul li{
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .logo {
        margin-top: 3rem;
    }

    .imagem-perfil img {
        height: 13rem;
        width: 13rem;
    }

    .container-principal {
        grid-column: 2 / 3;
        padding: 5rem 0;
    }
    
    .painel-direita {
        min-width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: auto;
        margin-top: 6rem;
    }
}